Apromore-Schema/aris-schema/src/main/resources/xsd/ARIS-Export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2009-2016 The Apromore Initiative.
  ~
  ~ This file is part of "Apromore".
  ~
  ~ "Apromore" is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ "Apromore" is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this program.
  ~ If not, see <http://www.gnu.org/licenses/lgpl-3.0.html>.
  -->

<!--
  Version 3.0
  
  DO NOT EDIT THIS FILE!
  
  (c) 2003 IDS Scheer AG
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="AML">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Header-Info"/>
        <xs:element maxOccurs="unbounded" ref="Language"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Prefix"/>
        <xs:element minOccurs="0" ref="Database"/>
        <xs:element minOccurs="0" ref="LDAPSettings"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="User"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="UserGroup"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FontStyleSheet"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FFTextDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OLEDef"/>
        <xs:element ref="Group"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Delete"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Header-Info">
    <xs:complexType>
      <xs:attribute name="CreateTime" type="xs:NMTOKEN"/>
      <xs:attribute name="CreateDate" type="xs:NMTOKEN"/>
      <xs:attribute name="DatabaseName"/>
      <xs:attribute name="UserName"/>
      <xs:attribute name="ArisExeVersion" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="61"/>
            <xs:enumeration value="62"/>
            <xs:enumeration value="70"/>
            <xs:enumeration value="71"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!-- General elements, used by several other elements -->
  <xs:element name="Prefix">
    <xs:complexType mixed="true">
      <xs:attribute name="Default" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Blob" type="xs:string"/>
  <!-- Base64 encoded binary data -->
  <xs:element name="Flag" type="xs:string"/>
  <xs:element name="GUID" type="xs:string"/>
  <xs:element name="FilterGUID" type="xs:string"/>
  <xs:element name="MasterGUID" type="xs:string"/>
  <xs:element name="TypeGUID" type="xs:string"/>
  <xs:element name="TemplateGUID" type="xs:string"/>
  <xs:element name="Pen">
    <xs:complexType>
      <xs:attribute name="Color" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Style" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Width" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Brush">
    <xs:complexType>
      <xs:attribute name="Color" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Style" type="xs:NMTOKEN"/>
      <xs:attribute name="Hatch" type="xs:NMTOKEN"/>
      <xs:attribute name="Color2" type="xs:NMTOKEN"/>
      <xs:attribute name="BrushType" default="SOLID">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="SOLID"/>
            <xs:enumeration value="TRANSPARENT"/>
            <xs:enumeration value="GRADIENT_LEFT"/>
            <xs:enumeration value="GRADIENT_TOP"/>
            <xs:enumeration value="GRADIENT_DIAGONAL_TOP_LEFT"/>
            <xs:enumeration value="GRADIENT_DIAGONAL_BOTTOM_LEFT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Size">
    <xs:complexType>
      <xs:attribute name="Size.dX" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Size.dY" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Position">
    <xs:complexType>
      <xs:attribute name="Pos.X" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Pos.Y" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- End: General elements -->
  <!-- BEGIN: Database -->
  <xs:element name="Database">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="AttrDef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- END: Database -->
  <!-- Begin: Language -->
  <xs:element name="Language">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="LanguageName"/>
        <xs:element minOccurs="0" ref="LogFont"/>
      </xs:sequence>
      <xs:attribute name="Language.ID" type="xs:ID"/>
      <xs:attribute name="LocaleId" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Codepage" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LanguageName" type="xs:string"/>
  <xs:element name="LogFont">
    <xs:complexType>
      <xs:attribute name="FaceName" use="required"/>
      <xs:attribute name="Height" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Width" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Escapement" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Orientation" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Weight" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Italic" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Underline" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="StrikeOut" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CharSet" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="OutPrecision" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="ClipPrecision" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Quality" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="PitchAndFamily" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Color" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- End: Languge -->
  <xs:element name="LDAPProperty">
    <xs:complexType>
      <xs:attribute name="key" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LDAPSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LDAPProperty"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Begin of User-Definition -->
  <xs:element name="User">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element maxOccurs="unbounded" ref="AttrDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FilterGUID"/>
        <xs:element minOccurs="0" ref="Prefix"/>
      </xs:sequence>
      <xs:attribute name="User.ID" use="required" type="xs:ID"/>
      <xs:attribute name="isSystem" default="false">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Passwd" type="xs:NMTOKEN"/>
      <xs:attribute name="External" type="xs:NMTOKEN"/>
      <xs:attribute name="ExternalID"/>
    </xs:complexType>
  </xs:element>
  <!-- End: User -->
  <!-- Begin of UserGroup-Definition -->
  <xs:element name="UserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element maxOccurs="unbounded" ref="AttrDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FilterGUID"/>
        <xs:element minOccurs="0" ref="Prefix"/>
      </xs:sequence>
      <xs:attribute name="UserGroup.ID" use="required" type="xs:ID"/>
      <xs:attribute name="User.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="ExternalIDs"/>
    </xs:complexType>
  </xs:element>
  <!-- End: UserGroup -->
  <!-- Begin of Font-Definition -->
  <xs:element name="FontStyleSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrDef"/>
        <xs:element maxOccurs="unbounded" ref="FontNode"/>
      </xs:sequence>
      <xs:attribute name="FontSS.ID" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FontNode">
    <xs:complexType>
      <xs:attribute name="LocaleId" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="FaceName" use="required"/>
      <xs:attribute name="Height" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Width" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Escapement" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Orientation" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Weight" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Italic" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Underline" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="StrikeOut" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CharSet" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="OutPrecision" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="ClipPrecision" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Quality" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="PitchAndFamily" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Color" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- End: Font-Definition -->
  <xs:element name="ExtCxnDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ExtCxnDef"/>
      </xs:sequence>
      <xs:attribute name="ExtCxnDef.ID" use="required" type="xs:ID"/>
      <xs:attribute name="ExtCxnDef.Type" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="ToDef.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="Reorg" default="DELETE">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="DELETE"/>
            <xs:enumeration value="NODELETE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="LastUpdated"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CxnDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ExtCxnDef"/>
      </xs:sequence>
      <xs:attribute name="CxnDef.ID" use="required" type="xs:ID"/>
      <xs:attribute name="CxnDef.Type" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="ToObjDef.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="LinkedModels.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="Reorg" default="DELETE">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="DELETE"/>
            <xs:enumeration value="NODELETE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="LastUpdated"/>
    </xs:complexType>
  </xs:element>
  <!-- Format for CxnDef.Type: CxnBaseType or FromObjType.CxnBaseType.ToObjType -->
  <xs:element name="ObjDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element minOccurs="0" ref="MasterGUID"/>
        <xs:element minOccurs="0" ref="SymbolGUID"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CxnDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ExtCxnDef"/>
      </xs:sequence>
      <xs:attribute name="ObjDef.ID" use="required" type="xs:ID"/>
      <xs:attribute name="TypeNum" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="LinkedModels.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="ToCxnDefs.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="Reorg" default="DELETE">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="DELETE"/>
            <xs:enumeration value="NODELETE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SubTypeNum" type="xs:NMTOKEN"/>
      <xs:attribute name="SymbolNum" type="xs:NMTOKEN"/>
      <xs:attribute name="LastUpdated"/>
    </xs:complexType>
  </xs:element>
  <!-- End: ObjDefs-Definition -->
  <!-- Begin: Attribute Definition -->
  <xs:element name="BackGroundColor">
    <xs:complexType>
      <xs:attribute name="Color" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bold">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Container">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Enumeration">
    <xs:complexType>
      <xs:attribute name="Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="ORDERED"/>
            <xs:enumeration value="UNORDERED"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Font">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Italic">
    <xs:complexType/>
  </xs:element>
  <xs:element name="SoftHyphen">
    <xs:complexType/>
  </xs:element>
  <xs:element name="LineBreak">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Paragraph">
    <xs:complexType>
      <xs:attribute name="Alignment" default="UNDEFINED">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="LEFT"/>
            <xs:enumeration value="CENTER"/>
            <xs:enumeration value="RIGHT"/>
            <xs:enumeration value="UNDEFINED"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Indent" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlainText">
    <xs:complexType>
      <xs:attribute name="TextValue" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SizeElement">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StrikeThrough">
    <xs:complexType/>
  </xs:element>
  <xs:element name="TextColor">
    <xs:complexType>
      <xs:attribute name="Color" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Underline">
    <xs:complexType/>
  </xs:element>
  <xs:element name="StyledElement">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="BackGroundColor"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Bold"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Container"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Enumeration"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Font"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Italic"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:element ref="SoftHyphen"/>
        <xs:element ref="LineBreak"/>
        <xs:sequence>
          <xs:element ref="Paragraph"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:element ref="PlainText"/>
        <xs:sequence>
          <xs:element ref="SizeElement"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="StrikeThrough"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="TextColor"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Underline"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
        </xs:sequence>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttrValue">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="StyledElement"/>
      </xs:sequence>
      <xs:attribute name="LocaleId" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttrDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="AttrValue"/>
      </xs:sequence>
      <xs:attribute name="AttrDef.ID" type="xs:ID"/>
      <xs:attribute name="AttrDef.Type" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- End: Attribute Definition -->
  <xs:element name="SymbolGUID" type="xs:string"/>
  <xs:element name="ExternalGUID" type="xs:string"/>
  <!-- Begin: ObjOcc-Definition -->
  <xs:element name="ObjOcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="SymbolGUID"/>
        <xs:element minOccurs="0" ref="Pen"/>
        <xs:element minOccurs="0" ref="Brush"/>
        <xs:element minOccurs="0" ref="Position"/>
        <xs:element minOccurs="0" ref="Size"/>
        <xs:element minOccurs="0" ref="ExternalGUID"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CxnOcc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrOcc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ExtCxnOcc"/>
      </xs:sequence>
      <xs:attribute name="ObjOcc.ID" use="required" type="xs:ID"/>
      <xs:attribute name="ObjDef.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="ToCxnOccs.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="Zorder" type="xs:NMTOKEN"/>
      <xs:attribute name="SymbolNum" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Active" default="YES">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Shadow" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Visible" default="YES">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Expanded" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="EmbeddingContainer" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Hints" type="xs:NMTOKEN"/>
      <xs:attribute name="SequenceNumber" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- End: ObjOcc-Definition -->
  <!-- Begin: FFText-Definition -->
  <xs:element name="FFTextOcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Position"/>
      </xs:sequence>
      <xs:attribute name="FFTextOcc.ID" type="xs:ID"/>
      <xs:attribute name="FFTextDef.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="FontSS.IdRef" type="xs:IDREF"/>
      <xs:attribute name="SymbolFlag" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="SYMBOL"/>
            <xs:enumeration value="ATTRNAME"/>
            <xs:enumeration value="ATTRNAME_AND_SYMBOL"/>
            <xs:enumeration value="POSTIT"/>
            <xs:enumeration value="SYMBOL_AND_POSTIT"/>
            <xs:enumeration value="ATTRNAME_AND_POSTIT"/>
            <xs:enumeration value="ATTRNAME_AND_SYMBOL_AND_POSTIT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Alignment" default="LEFT">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="LEFT"/>
            <xs:enumeration value="CENTER"/>
            <xs:enumeration value="RIGHT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Zorder" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- End: FFText-Definition -->
  <xs:element name="AttrOcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Size"/>
      </xs:sequence>
      <xs:attribute name="AttrOcc.ID" type="xs:ID"/>
      <xs:attribute name="AttrTypeNum" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Port" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="CENTER"/>
            <xs:enumeration value="N"/>
            <xs:enumeration value="NE"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="SW"/>
            <xs:enumeration value="W"/>
            <xs:enumeration value="NW"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="UPPER_MIDDLE"/>
            <xs:enumeration value="LOWER_MIDDLE"/>
            <xs:enumeration value="PORT_FREE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="OrderNum" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Alignment" default="LEFT">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="LEFT"/>
            <xs:enumeration value="CENTER"/>
            <xs:enumeration value="RIGHT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SymbolFlag" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="SYMBOL"/>
            <xs:enumeration value="WIDTH_ATTR_NAME"/>
            <xs:enumeration value="ATTR_NAME_AND_SYMBOL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="FontSS.IdRef" type="xs:IDREF"/>
      <xs:attribute name="OffsetX" type="xs:NMTOKEN"/>
      <xs:attribute name="OffsetY" type="xs:NMTOKEN"/>
      <xs:attribute name="Rotation" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtCxnOcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Pen"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Position"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrOcc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ExtCxnOcc"/>
      </xs:sequence>
      <xs:attribute name="ExtCxnOcc.ID" use="required" type="xs:ID"/>
      <xs:attribute name="ExtCxnDef.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="ToOcc.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="Zorder" type="xs:NMTOKEN"/>
      <xs:attribute name="Active" default="YES">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Diagonal" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="NO"/>
            <xs:enumeration value="YES"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Visible" default="YES">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Hints" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- Begin: CxnOcc-Definition -->
  <xs:element name="CxnOcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Pen"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Position"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrOcc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ExtCxnOcc"/>
      </xs:sequence>
      <xs:attribute name="CxnOcc.ID" use="required" type="xs:ID"/>
      <xs:attribute name="CxnDef.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="ToObjOcc.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="Zorder" type="xs:NMTOKEN"/>
      <xs:attribute name="Active" default="YES">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Diagonal" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="NO"/>
            <xs:enumeration value="YES"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Visible" default="YES">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Embedding" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Hints" type="xs:NMTOKEN"/>
      <xs:attribute name="SrcArrow" type="xs:NMTOKEN"/>
      <xs:attribute name="TgtArrow" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- End: CxnOcc-Definition -->
  <!-- Begin: Lane-Definition -->
  <xs:element name="Lane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element minOccurs="0" ref="Pen"/>
        <xs:element minOccurs="0" ref="Brush"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrDef"/>
      </xs:sequence>
      <xs:attribute name="Lane.ID" type="xs:ID"/>
      <xs:attribute name="Lane.Type" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Orientation" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="VERTICAL"/>
            <xs:enumeration value="HORIZONTAL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="StartBorder" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="EndBorder" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- End: Lane-Definition -->
  <xs:element name="OLEDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element ref="Blob"/>
        <xs:element ref="Blob"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrDef"/>
      </xs:sequence>
      <xs:attribute name="OLEDef.ID" use="required" type="xs:ID"/>
      <xs:attribute name="Link"/>
      <xs:attribute name="LastUpdated"/>
    </xs:complexType>
  </xs:element>
  <!-- first blob is Metafile-BLOB; second blob is Data-BLOB -->
  <xs:element name="OLEOcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Position"/>
        <xs:element minOccurs="0" ref="Size"/>
      </xs:sequence>
      <xs:attribute name="OLEOcc.ID" type="xs:ID"/>
      <xs:attribute name="OLEDef.IdRef" use="required" type="xs:IDREF"/>
      <xs:attribute name="Zorder" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FFTextDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element maxOccurs="unbounded" ref="AttrDef"/>
      </xs:sequence>
      <xs:attribute name="FFTextDef.ID" use="required" type="xs:ID"/>
      <xs:attribute name="IsModelAttr" default="TEXT">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="MODELATTR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="LastUpdated"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Group">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Group"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ObjDef"/>
          <xs:element ref="Model"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="Group.ID" use="required" type="xs:ID"/>
      <xs:attribute name="LastUpdated"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Polygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Position"/>
      </xs:sequence>
      <xs:attribute name="FillStatus" default="TRANSPARENT">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="FILLED"/>
            <xs:enumeration value="TRANSPARENT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoundedRectangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Position"/>
      </xs:sequence>
      <xs:attribute name="Shaded" default="NO">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="GfxObj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Pen"/>
        <xs:element minOccurs="0" ref="Brush"/>
        <xs:element minOccurs="0" ref="Position"/>
        <xs:element minOccurs="0" ref="Size"/>
        <xs:choice>
          <xs:element ref="Polygon"/>
          <xs:element ref="RoundedRectangle"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="GfxObj.ID" type="xs:ID"/>
      <xs:attribute name="Zorder" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Union">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Union"/>
      </xs:sequence>
      <xs:attribute name="OLEObjOccs.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="ObjOccs.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="Gfxs.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="TextOccs.IdRefs" type="xs:IDREFS"/>
      <xs:attribute name="Zorder" type="xs:NMTOKEN"/>
      <xs:attribute name="Flags" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- Begin: Model definition -->
  <xs:element name="Model">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Flag"/>
        <xs:element minOccurs="0" ref="GUID"/>
        <xs:element minOccurs="0" ref="MasterGUID"/>
        <xs:element minOccurs="0" ref="TypeGUID"/>
        <xs:element minOccurs="0" ref="TemplateGUID"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Lane"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttrDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ObjOcc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FFTextOcc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="GfxObj"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OLEOcc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Union"/>
      </xs:sequence>
      <xs:attribute name="Model.ID" use="required" type="xs:ID"/>
      <xs:attribute name="Model.Type" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="AttrHandling">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="OVERLAP"/>
            <xs:enumeration value="RESIZESYM"/>
            <xs:enumeration value="BREAKATTR"/>
            <xs:enumeration value="SHORTENATTR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CxnMode">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="ONLYVERTICAL"/>
            <xs:enumeration value="ANGULAR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="GridUse">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="NO"/>
            <xs:enumeration value="YES"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="GridSize" type="xs:NMTOKEN"/>
      <xs:attribute name="Scale" type="xs:NMTOKEN"/>
      <xs:attribute name="PrintScale" type="xs:NMTOKEN"/>
      <xs:attribute name="BackColor" type="xs:NMTOKEN"/>
      <xs:attribute name="CurveRadius" type="xs:NMTOKEN"/>
      <xs:attribute name="ArcRadius" type="xs:NMTOKEN"/>
      <xs:attribute name="LastUpdated"/>
    </xs:complexType>
  </xs:element>
  <!-- end of Modeldefinition -->
  <!-- PCDATA is GUID of object that should be deleted -->
  <xs:element name="Delete">
    <xs:complexType mixed="true">
      <xs:attribute name="Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="GROUP"/>
            <xs:enumeration value="MODEL"/>
            <xs:enumeration value="OBJDEF"/>
            <xs:enumeration value="USER"/>
            <xs:enumeration value="USERGROUP"/>
            <xs:enumeration value="CXNDEF"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
