trunk/0.1/src/Apromore-manager/WebContent/wsdl/manager_portal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.apromore.org/manager/service_portal" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tnsx="http://www.apromore.org/manager/model_portal" xmlns:tns="http://www.apromore.org/manager/service_portal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <import namespace="http://www.apromore.org/manager/model_portal" location="manager_portalX.xsd">
    </import>
  <message name="ReadUserInputMsg">
    <part name="payload" element="tnsx:ReadUserInputMsg">
    </part>
  </message>
  <message name="DeleteProcessVersionsOutputMsg">
    <part name="payload" element="tnsx:DeleteProcessVersionsOutputMsg">
    </part>
  </message>
  <message name="DeleteEditSessionOutputMsg">
    <part name="payload" element="tnsx:DeleteEditSessionOutputMsg">
    </part>
  </message>
  <message name="ReadProcessSummariesInputMsg">
    <part name="payload" element="tnsx:ReadProcessSummariesInputMsg">
    </part>
  </message>
  <message name="ReadFormatsOutputMsg">
    <part name="payload" element="tnsx:ReadFormatsOutputMsg">
    </part>
  </message>
  <message name="DeleteProcessVersionsInputMsg">
    <part name="payload" element="tnsx:DeleteProcessVersionsInputMsg">
    </part>
  </message>
  <message name="UpdateProcessOutputMsg">
    <part name="payload" element="tnsx:UpdateProcessOutputMsg">
    </part>
  </message>
  <message name="ReadDomainsOutputMsg">
    <part name="payload" element="tnsx:ReadDomainsOutputMsg">
    </part>
  </message>
  <message name="WriteEditSessionOutputMsg">
    <part name="payload" element="tnsx:WriteEditSessionOutputMsg">
    </part>
  </message>
  <message name="ReadUserOutputMsg">
    <part name="payload" element="tnsx:ReadUserOutputMsg">
    </part>
  </message>
  <message name="ReadEditSessionOutputMsg">
    <part name="payload" element="tnsx:ReadEditSessionOutputMsg">
    </part>
  </message>
  <message name="WriteUserOutputMsg">
    <part name="payload" element="tnsx:WriteUserOutputMsg">
    </part>
  </message>
  <message name="UpdateProcessInputMsg">
    <part name="payload" element="tnsx:UpdateProcessInputMsg">
    </part>
  </message>
  <message name="ImportProcessInputMsg">
    <part name="payload" element="tnsx:ImportProcessInputMsg">
    </part>
  </message>
  <message name="DeleteEditSessionInputMsg">
    <part name="payload" element="tnsx:DeleteEditSessionInputMsg">
    </part>
  </message>
  <message name="ReadEditSessionInputMsg">
    <part name="payload" element="tnsx:ReadEditSessionInputMsg">
    </part>
  </message>
  <message name="ExportNativeInputMsg">
    <part name="payload" element="tnsx:ExportNativeInputMsg">
    </part>
  </message>
  <message name="ImportProcessOutputMsg">
    <part name="payload" element="tnsx:ImportProcessOutputMsg">
    </part>
  </message>
  <message name="WriteEditSessionInputMsg">
    <part name="payload" element="tnsx:WriteEditSessionInputMsg">
    </part>
  </message>
  <message name="WriteUserInputMsg">
    <part name="payload" element="tnsx:WriteUserInputMsg">
    </part>
  </message>
  <message name="ReadFormatsInputMsg">
    <part name="payload" element="tnsx:ReadFormatsInputMsg">
    </part>
  </message>
  <message name="ExportNativeOutputMsg">
    <part name="payload" element="tnsx:ExportNativeOutputMsg">
    </part>
  </message>
  <message name="ReadProcessSummariesOutputMsg">
    <part name="payload" element="tnsx:ReadProcessSummariesOutputMsg">
    </part>
  </message>
  <message name="ReadDomainsInputMsg">
    <part name="payload" element="tnsx:ReadDomainsInputMsg">
    </part>
  </message>
  <portType name="ManagerPortalPortType">
    <operation name="ReadProcessSummaries">
      <input name="ReadProcessSummariesRequest" message="tns:ReadProcessSummariesInputMsg">
    </input>
      <output name="ReadProcessSummariesResponse" message="tns:ReadProcessSummariesOutputMsg">
    </output>
    </operation>
    <operation name="ReadDomains">
      <input name="ReadDomainsRequest" message="tns:ReadDomainsInputMsg">
    </input>
      <output name="ReadDomainsResponse" message="tns:ReadDomainsOutputMsg">
    </output>
    </operation>
    <operation name="ReadFormats">
      <input name="ReadFormatsRequest" message="tns:ReadFormatsInputMsg">
    </input>
      <output name="ReadFormatsResponse" message="tns:ReadFormatsOutputMsg">
    </output>
    </operation>
    <operation name="ReadUser">
      <input name="ReadUserRequest" message="tns:ReadUserInputMsg">
    </input>
      <output name="ReadUserResponse" message="tns:ReadUserOutputMsg">
    </output>
    </operation>
    <operation name="WriteUser">
      <input name="WriteUserRequest" message="tns:WriteUserInputMsg">
    </input>
      <output name="WriteUserResponse" message="tns:WriteUserOutputMsg">
    </output>
    </operation>
    <operation name="ImportProcess">
      <input name="ImportProcessRequest" message="tns:ImportProcessInputMsg">
    </input>
      <output name="ImportProcessResponse" message="tns:ImportProcessOutputMsg">
    </output>
    </operation>
    <operation name="ExportNative">
      <input name="ExportNativeRequest" message="tns:ExportNativeInputMsg">
    </input>
      <output name="ExportNativeResponse" message="tns:ExportNativeOutputMsg">
    </output>
    </operation>
    <operation name="WriteEditSession">
      <input name="WriteEditSessionRequest" message="tns:WriteEditSessionInputMsg">
    </input>
      <output name="WriteEditSessionResponse" message="tns:WriteEditSessionOutputMsg">
    </output>
    </operation>
    <operation name="ReadEditSession">
      <input name="ReadEditSessionRequest" message="tns:ReadEditSessionInputMsg">
    </input>
      <output name="ReadEditSessionResponse" message="tns:ReadEditSessionOutputMsg">
    </output>
    </operation>
    <operation name="DeleteEditSession">
      <input name="DeleteEditSessionRequest" message="tns:DeleteEditSessionInputMsg">
    </input>
      <output name="DeleteEditSessionResponse" message="tns:DeleteEditSessionOutputMsg">
    </output>
    </operation>
    <operation name="UpdateProcess">
      <input name="UpdateProcessRequest" message="tns:UpdateProcessInputMsg">
    </input>
      <output name="UpdateProcessResponse" message="tns:UpdateProcessOutputMsg">
    </output>
    </operation>
    <operation name="DeleteProcessVersions">
      <input name="DeleteProcessVersionsRequest" message="tns:DeleteProcessVersionsInputMsg">
    </input>
      <output name="DeleteProcessVersionsResponse" message="tns:DeleteProcessVersionsOutputMsg">
    </output>
    </operation>
  </portType>
  <binding name="ManagerPortalBinding" type="tns:ManagerPortalPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ReadProcessSummaries">
      <soap:operation style="document"/>
      <input name="ReadProcessSummariesRequest">
        <soap:body use="literal"/>
      </input>
      <output name="ReadProcessSummariesResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReadDomains">
      <soap:operation style="document"/>
      <input name="ReadDomainsRequest">
        <soap:body use="literal"/>
      </input>
      <output name="ReadDomainsResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReadFormats">
      <soap:operation style="document"/>
      <input name="ReadFormatsRequest">
        <soap:body use="literal"/>
      </input>
      <output name="ReadFormatsResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReadUser">
      <soap:operation style="document"/>
      <input name="ReadUserRequest">
        <soap:body use="literal"/>
      </input>
      <output name="ReadUserResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="WriteUser">
      <soap:operation style="document"/>
      <input name="WriteUserRequest">
        <soap:body use="literal"/>
      </input>
      <output name="WriteUserResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ImportProcess">
      <soap:operation style="document"/>
      <input name="ImportProcessRequest">
        <soap:body use="literal"/>
      </input>
      <output name="ImportProcessResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ExportNative">
      <soap:operation style="document"/>
      <input name="ExportNativeRequest">
        <soap:body use="literal"/>
      </input>
      <output name="ExportNativeResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="WriteEditSession">
      <soap:operation style="document"/>
      <input name="WriteEditSessionRequest">
        <soap:body use="literal"/>
      </input>
      <output name="WriteEditSessionResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReadEditSession">
      <soap:operation style="document"/>
      <input name="ReadEditSessionRequest">
        <soap:body use="literal"/>
      </input>
      <output name="ReadEditSessionResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteEditSession">
      <soap:operation style="document"/>
      <input name="DeleteEditSessionRequest">
        <soap:body use="literal"/>
      </input>
      <output name="DeleteEditSessionResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateProcess">
      <soap:operation style="document"/>
      <input name="UpdateProcessRequest">
        <soap:body use="literal"/>
      </input>
      <output name="UpdateProcessResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteProcessVersions">
      <soap:operation style="document"/>
      <input name="DeleteProcessVersionsRequest">
        <soap:body use="literal"/>
      </input>
      <output name="DeleteProcessVersionsResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ManagerPortalService">
    <port name="ManagerPortal" binding="tns:ManagerPortalBinding">
      <soap:address location="http://localhost:8080/Apromore-manager/services/ManagerPortal"/>
    </port>
  </service>
</definitions>
