0.1/src/Apromore-dataAccess/WebContent/wsdl/da_toolbox.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.apromore.org/data_access/service_toolbox"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tnsx="http://www.apromore.org/data_access/model_toolbox"
	xmlns:tns="http://www.apromore.org/data_access/service_toolbox"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<import namespace="http://www.apromore.org/data_access/model_toolbox"
		location="da_toolboxX.xsd">
	</import>
	<message name="ReadCanonicalsInputMsg">
		<part name="payload" element="tnsx:ReadCanonicalsInputMsg">
		</part>
	</message>
	<message name="ReadCanonicalsOutputMsg">
		<part name="payload" element="tnsx:ReadCanonicalsOutputMsg">
		</part>
	</message>
	<message name="StoreCpfInputMsg">
		<part name="payload" element="tnsx:StoreCpfInputMsg">
		</part>
	</message>
	<message name="StoreCpfOutputMsg">
		<part name="payload" element="tnsx:StoreCpfOutputMsg">
		</part>
	</message>
	<portType name="DAToolboxPortType">
		<operation name="ReadCanonicals">
			<input name="ReadCanonicalsRequest" message="tns:ReadCanonicalsInputMsg">
			</input>
			<output name="ReadCanonicalsResponse" message="tns:ReadCanonicalsOutputMsg">
			</output>
		</operation>
		<operation name="StoreCpf">
			<input name="StoreCpfRequest" message="tns:StoreCpfInputMsg">
			</input>
			<output name="StoreCpfResponse" message="tns:StoreCpfOutputMsg">
			</output>
		</operation>
	</portType>
	<binding name="DAToolboxBinding" type="tns:DAToolboxPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ReadCanonicals">
			<soap:operation style="document" />
			<input name="ReadCanonicalsRequest">
				<soap:body use="literal" />
			</input>
			<output name="ReadCanonicalsResponse">
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="StoreCpf">
			<soap:operation style="document" />
			<input name="StoreCpfRequest">
				<soap:body use="literal" />
			</input>
			<output name="StoreCpfResponse">
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="DAToolboxService">
		<port name="DAToolbox" binding="tns:DAToolboxBinding">
			<soap:address
				location="http://localhost:8080/Apromore-dataAccess/services/DAToolbox" />
		</port>
	</service>
</definitions>