trunk/0.1/src/Apromore-canoniser/WebContent/wsdl/portal_oryx.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.apromore.org/portal/service_oryx" xmlns:tnsx="http://www.apromore.org/portal/model_oryx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.apromore.org/portal/service_oryx">
	<import location="portal_oryxX.xsd" namespace="http://www.apromore.org/portal/model_oryx">
	</import>
	<message name="WriteNewProcessInputMsg">
		<part element="tnsx:WriteNewProcessInputMsg" name="payload">
		</part>
	</message>
	<message name="WriteNewProcessOutputMsg">
		<part element="tnsx:WriteNewProcessOutputMsg" name="payload">
		</part>
	</message>
	<message name="ReadNativeInputMsg">
		<part element="tnsx:ReadNativeInputMsg" name="payload">
		</part>
	</message>
	<message name="CloseSessionOutputMsg">
		<part element="tnsx:CloseSessionOutputMsg" name="payload">
		</part>
	</message>
	<message name="WriteProcessInputMsg">
		<part element="tnsx:WriteProcessInputMsg" name="payload">
		</part>
	</message>
	<message name="WriteProcessOutputMsg">
		<part element="tnsx:WriteProcessOutputMsg" name="payload">
		</part>
	</message>
	<message name="WriteAnnotationInputMsg">
		<part element="tnsx:WriteAnnotationInputMsg" name="payload">
		</part>
	</message>
	<message name="WriteAnnotationOutputMsg">
		<part element="tnsx:WriteAnnotationOutputMsg" name="payload">
		</part>
	</message>
	<message name="WriteNewAnnotationInputMsg">
		<part element="tnsx:WriteNewAnnotationInputMsg" name="payload">
		</part>
	</message>
	<message name="WriteNewAnnotationOutputMsg">
		<part element="tnsx:WriteNewAnnotationOutputMsg" name="payload">
		</part>
	</message>
	<message name="CloseSessionInputMsg">
		<part element="tnsx:CloseSessionInputMsg" name="payload">
		</part>
	</message>
	<message name="ReadNativeOutputMsg">
		<part element="tnsx:ReadNativeOutputMsg" name="payload">
		</part>
	</message>
	<portType name="PortalOryxPortType">
		<operation name="ReadNative">
			<input message="tns:ReadNativeInputMsg" name="ReadNativeRequest">
			</input>
			<output message="tns:ReadNativeOutputMsg" name="ReadNativeResponse">
			</output>
		</operation>
		<operation name="WriteNewProcess">
			<input message="tns:WriteNewProcessInputMsg" name="WriteNewProcessRequest">
			</input>
			<output message="tns:WriteNewProcessOutputMsg" name="WriteNewProcessResponse">
			</output>
		</operation>
		<operation name="WriteProcess">
			<input message="tns:WriteProcessInputMsg" name="WriteProcessRequest">
			</input>
			<output message="tns:WriteProcessOutputMsg" name="WriteProcessResponse">
			</output>
		</operation>
		<operation name="WriteNewAnnotation">
			<input message="tns:WriteNewAnnotationInputMsg" name="WriteNewAnnotationRequest">
			</input>
			<output message="tns:WriteNewAnnotationOutputMsg" name="WriteNewAnnotationResponse">
			</output>
		</operation>
		<operation name="WriteAnnotation">
			<input message="tns:WriteAnnotationInputMsg" name="WriteAnnotationRequest">
			</input>
			<output message="tns:WriteAnnotationOutputMsg" name="WriteAnnotationResponse">
			</output>
		</operation>
		<operation name="CloseSession">
			<input message="tns:CloseSessionInputMsg" name="CloseSessionRequest">
			</input>
			<output message="tns:CloseSessionOutputMsg" name="CloseSessionResponse">
			</output>
		</operation>
	</portType>
	<binding name="PortalOryxBinding" type="tns:PortalOryxPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ReadNative">
			<soap:operation style="document"/>
			<input name="ReadNativeRequest">
				<soap:body use="literal"/>
			</input>
			<output name="ReadNativeResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="WriteNewProcess">
			<soap:operation style="document"/>
			<input name="WriteNewProcessRequest">
				<soap:body use="literal"/>
			</input>
			<output name="WriteNewProcessResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="WriteProcess">
			<soap:operation style="document"/>
			<input name="WriteProcessRequest">
				<soap:body use="literal"/>
			</input>
			<output name="WriteProcessResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="WriteNewAnnotation">
			<soap:operation style="document"/>
			<input name="WriteNewAnnotationRequest">
				<soap:body use="literal"/>
			</input>
			<output name="WriteNewAnnotationResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="WriteAnnotation">
			<soap:operation style="document"/>
			<input name="WriteAnnotationRequest">
				<soap:body use="literal"/>
			</input>
			<output name="WriteAnnotationResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CloseSession">
			<soap:operation style="document"/>
			<input name="CloseSessionRequest">
				<soap:body use="literal"/>
			</input>
			<output name="CloseSessionResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PortalOryxService">
		<port binding="tns:PortalOryxBinding" name="PortalOryx">
			<soap:address location="http://localhost:8080/Apromore-portal/services"/>
		</port>
	</service>
</definitions>
