0.3/Apromore-Portal/portal-webapp/src/main/webapp/WEB-INF/wsdl/portal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.apromore.org/portal/service_oryx" xmlns:tnsx="http://www.apromore.org/portal/model_oryx"
                  targetNamespace="http://www.apromore.org/portal/service_oryx">

    <wsdl:types>
        <xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://www.apromore.org/portal/model_oryx">

            <xs:element name="ReadNativeInputMsg" type="tnsx:ReadNativeInputMsgType"/>
            <xs:element name="ReadNativeOutputMsg" type="tnsx:ReadNativeOutputMsgType"/>
            <xs:element name="WriteNewProcessInputMsg" type="tnsx:WriteNewProcessInputMsgType"/>
            <xs:element name="WriteNewProcessOutputMsg" type="tnsx:WriteNewProcessOutputMsgType"/>
            <xs:element name="WriteProcessInputMsg" type="tnsx:WriteProcessInputMsgType"/>
            <xs:element name="WriteProcessOutputMsg" type="tnsx:WriteProcessOutputMsgType"/>
            <xs:element name="WriteNewAnnotationInputMsg" type="tnsx:WriteNewAnnotationInputMsgType"/>
            <xs:element name="WriteNewAnnotationOutputMsg" type="tnsx:WriteNewAnnotationOutputMsgType"/>
            <xs:element name="WriteAnnotationInputMsg" type="tnsx:WriteAnnotationInputMsgType"/>
            <xs:element name="WriteAnnotationOutputMsg" type="tnsx:WriteAnnotationOutputMsgType"/>

            <xs:complexType name="ReadNativeInputMsgType">
                <xs:attribute name="EditSessionCode" type="xs:int"/>
            </xs:complexType>

            <xs:complexType name="EditSessionType">
                <xs:attribute name="username" type="xs:string"/>
                <xs:attribute name="nativeType" type="xs:string"/>
                <xs:attribute name="processId" type="xs:int"/>
                <xs:attribute name="processName" type="xs:string"/>
                <xs:attribute name="versionName" type="xs:string"/>
                <xs:attribute name="domain" type="xs:string"/>
                <xs:attribute name="creationDate" type="xs:string"/>
                <xs:attribute name="lastUpdate" type="xs:string"/>
                <xs:attribute name="withAnnotation" type="xs:boolean"/>
                <xs:attribute name="annotation" type="xs:string"/>
            </xs:complexType>

            <xs:complexType name="ReadNativeOutputMsgType">
                <xs:sequence>
                    <xs:element name="Result" type="tnsx:ResultType"/>
                    <xs:element name="Native" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                    <xs:element name="EditSession" type="tnsx:EditSessionType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="WriteNewProcessInputMsgType">
                <xs:sequence>
                    <xs:element name="Native" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                    <xs:element name="EditSession" type="tnsx:EditSessionType"/>
                </xs:sequence>
                <xs:attribute name="EditSessionCode" type="xs:int"/>
            </xs:complexType>

            <xs:complexType name="WriteNewProcessOutputMsgType">
                <xs:sequence>
                    <xs:element name="Result" type="tnsx:ResultType"/>
                </xs:sequence>
                <xs:attribute name="EditSessionCode" type="xs:int"/>
            </xs:complexType>

            <xs:complexType name="WriteProcessInputMsgType">
                <xs:sequence>
                    <xs:element name="Native" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                    <xs:element name="EditSession" type="tnsx:EditSessionType"/>
                </xs:sequence>
                <xs:attribute name="EditSessionCode" type="xs:int"/>
                <xs:attribute name="PreVersion" type="xs:string"/>
            </xs:complexType>

            <xs:complexType name="WriteProcessOutputMsgType">
                <xs:sequence>
                    <xs:element name="Result" type="tnsx:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="WriteNewAnnotationInputMsgType">
                <xs:sequence>
                    <xs:element name="Native" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                </xs:sequence>
                <xs:attribute name="EditSessionCode" type="xs:int"/>
                <xs:attribute name="AnnotationName" type="xs:string"/>
            </xs:complexType>

            <xs:complexType name="WriteNewAnnotationOutputMsgType">
                <xs:sequence>
                    <xs:element name="Result" type="tnsx:ResultType"/>
                </xs:sequence>
                <xs:attribute name="EditSessionCode" type="xs:int"/>
            </xs:complexType>

            <xs:complexType name="WriteAnnotationInputMsgType">
                <xs:sequence>
                    <xs:element name="Native" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                </xs:sequence>
                <xs:attribute name="EditSessionCode" type="xs:int"/>
            </xs:complexType>

            <xs:complexType name="WriteAnnotationOutputMsgType">
                <xs:sequence>
                    <xs:element name="Result" type="tnsx:ResultType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResultType">
                <xs:attribute name="message" type="xs:string"/>
                <xs:attribute name="code" type="xs:int"/>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="WriteNewProcessInputMsg">
        <wsdl:part element="tnsx:WriteNewProcessInputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="WriteNewProcessOutputMsg">
        <wsdl:part element="tnsx:WriteNewProcessOutputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="ReadNativeInputMsg">
        <wsdl:part element="tnsx:ReadNativeInputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="WriteProcessInputMsg">
        <wsdl:part element="tnsx:WriteProcessInputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="WriteProcessOutputMsg">
        <wsdl:part element="tnsx:WriteProcessOutputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="WriteAnnotationInputMsg">
        <wsdl:part element="tnsx:WriteAnnotationInputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="WriteAnnotationOutputMsg">
        <wsdl:part element="tnsx:WriteAnnotationOutputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="WriteNewAnnotationInputMsg">
        <wsdl:part element="tnsx:WriteNewAnnotationInputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="WriteNewAnnotationOutputMsg">
        <wsdl:part element="tnsx:WriteNewAnnotationOutputMsg" name="payload"/>
    </wsdl:message>
    <wsdl:message name="ReadNativeOutputMsg">
        <wsdl:part element="tnsx:ReadNativeOutputMsg" name="payload"/>
    </wsdl:message>


    <wsdl:portType name="PortalOryxPortType">
        <wsdl:operation name="ReadNative">
            <wsdl:input message="tns:ReadNativeInputMsg" name="ReadNativeRequest"/>
            <wsdl:output message="tns:ReadNativeOutputMsg" name="ReadNativeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="WriteNewProcess">
            <wsdl:input message="tns:WriteNewProcessInputMsg" name="WriteNewProcessRequest"/>
            <wsdl:output message="tns:WriteNewProcessOutputMsg" name="WriteNewProcessResponse"/>
        </wsdl:operation>
        <wsdl:operation name="WriteProcess">
            <wsdl:input message="tns:WriteProcessInputMsg" name="WriteProcessRequest"/>
            <wsdl:output message="tns:WriteProcessOutputMsg" name="WriteProcessResponse"/>
        </wsdl:operation>
        <wsdl:operation name="WriteNewAnnotation">
            <wsdl:input message="tns:WriteNewAnnotationInputMsg" name="WriteNewAnnotationRequest"/>
            <wsdl:output message="tns:WriteNewAnnotationOutputMsg" name="WriteNewAnnotationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="WriteAnnotation">
            <wsdl:input message="tns:WriteAnnotationInputMsg" name="WriteAnnotationRequest"/>
            <wsdl:output message="tns:WriteAnnotationOutputMsg" name="WriteAnnotationResponse"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="PortalOryxBinding" type="tns:PortalOryxPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReadNative">
            <soap:operation style="document"/>
            <wsdl:input name="ReadNativeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ReadNativeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WriteNewProcess">
            <soap:operation style="document"/>
            <wsdl:input name="WriteNewProcessRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="WriteNewProcessResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WriteProcess">
            <soap:operation style="document"/>
            <wsdl:input name="WriteProcessRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="WriteProcessResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WriteNewAnnotation">
            <soap:operation style="document"/>
            <wsdl:input name="WriteNewAnnotationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="WriteNewAnnotationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WriteAnnotation">
            <soap:operation style="document"/>
            <wsdl:input name="WriteAnnotationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="WriteAnnotationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PortalOryxService">
        <wsdl:port binding="tns:PortalOryxBinding" name="PortalOryx">
            <soap:address location="http://127.0.0.1:80/Apromore-portal/services/PortalOryx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>