trunk/Apromore-Manager/src/main/webapp/WEB-INF/wsdl/manager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.apromore.org/manager/service_portal"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mgr="urn:qut-edu-au:schema:apromore:manager"
             xmlns:tns="http://www.apromore.org/manager/service_portal"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <import namespace="urn:qut-edu-au:schema:apromore:manager" location="manager.xsd"/>

    <message name="ReadProcessSummariesRequest">
        <part name="payload" element="mgr:ReadProcessSummariesRequest">
        </part>
    </message>
    <message name="WriteAnnotationResponse">
        <part name="payload" element="mgr:WriteAnnotationResponse">
        </part>
    </message>
    <message name="UpdateProcessResponse">
        <part name="payload" element="mgr:UpdateProcessResponse">
        </part>
    </message>
    <message name="ExportFormatResponse">
        <part name="payload" element="mgr:ExportFormatResponse">
        </part>
    </message>
    <message name="ReadDomainsResponse">
        <part name="payload" element="mgr:ReadDomainsResponse">
        </part>
    </message>
    <message name="ReadAllUsersRequest">
        <part name="payload" element="mgr:ReadAllUsersRequest">
        </part>
    </message>
    <message name="ReadEditSessionResponse">
        <part name="payload" element="mgr:ReadEditSessionResponse">
        </part>
    </message>
    <message name="SearchForSimilarProcessesResponse">
        <part name="payload" element="mgr:SearchForSimilarProcessesResponse">
        </part>
    </message>
    <message name="MergeProcessesRequest">
        <part name="payload" element="mgr:MergeProcessesRequest">
        </part>
    </message>
    <message name="ReadEditSessionRequest">
        <part name="payload" element="mgr:ReadEditSessionRequest">
        </part>
    </message>
    <message name="ReadNativeTypesRequest">
        <part name="payload" element="mgr:ReadNativeTypesRequest">
        </part>
    </message>
    <message name="ImportProcessResponse">
        <part name="payload" element="mgr:ImportProcessResponse">
        </part>
    </message>
    <message name="WriteEditSessionRequest">
        <part name="payload" element="mgr:WriteEditSessionRequest">
        </part>
    </message>
    <message name="WriteUserRequest">
        <part name="payload" element="mgr:WriteUserRequest">
        </part>
    </message>
    <message name="EditProcessDataRequest">
        <part name="payload" element="mgr:EditProcessDataRequest">
        </part>
    </message>
    <message name="SearchForSimilarProcessesRequest">
        <part name="payload" element="mgr:SearchForSimilarProcessesRequest">
        </part>
    </message>
    <message name="ReadDomainsRequest">
        <part name="payload" element="mgr:ReadDomainsRequest">
        </part>
    </message>
    <message name="ReadProcessSummariesResponse">
        <part name="payload" element="mgr:ReadProcessSummariesResponse">
        </part>
    </message>
    <message name="ReadNativeTypesResponse">
        <part name="payload" element="mgr:ReadNativeTypesResponse">
        </part>
    </message>
    <message name="ReadUserRequest">
        <part name="payload" element="mgr:ReadUserRequest">
        </part>
    </message>
    <message name="DeleteEditSessionResponse">
        <part name="payload" element="mgr:DeleteEditSessionResponse">
        </part>
    </message>
    <message name="DeleteProcessVersionsResponse">
        <part name="payload" element="mgr:DeleteProcessVersionsResponse">
        </part>
    </message>
    <message name="DeleteProcessVersionsRequest">
        <part name="payload" element="mgr:DeleteProcessVersionsRequest">
        </part>
    </message>
    <message name="MergeProcessesResponse">
        <part name="payload" element="mgr:MergeProcessesResponse">
        </part>
    </message>
    <message name="WriteAnnotationRequest">
        <part name="payload" element="mgr:WriteAnnotationRequest">
        </part>
    </message>
    <message name="WriteEditSessionResponse">
        <part name="payload" element="mgr:WriteEditSessionResponse">
        </part>
    </message>
    <message name="ReadAllUsersResponse">
        <part name="payload" element="mgr:ReadAllUsersResponse">
        </part>
    </message>
    <message name="ReadUserResponse">
        <part name="payload" element="mgr:ReadUserResponse">
        </part>
    </message>
    <message name="WriteUserResponse">
        <part name="payload" element="mgr:WriteUserResponse">
        </part>
    </message>
    <message name="UpdateProcessRequest">
        <part name="payload" element="mgr:UpdateProcessRequest">
        </part>
    </message>
    <message name="ImportProcessRequest">
        <part name="payload" element="mgr:ImportProcessRequest">
        </part>
    </message>
    <message name="EditProcessDataResponse">
        <part name="payload" element="mgr:EditProcessDataResponse">
        </part>
    </message>
    <message name="DeleteEditSessionRequest">
        <part name="payload" element="mgr:DeleteEditSessionRequest">
        </part>
    </message>
    <message name="ExportFormatRequest">
        <part name="payload" element="mgr:ExportFormatRequest">
        </part>
    </message>
    <message name="ReadInstalledPluginsRequest">
        <part name="payload" element="mgr:ReadInstalledPluginsRequest">
        </part>
    </message>    
    <message name="ReadInstalledPluginsResponse">
        <part name="payload" element="mgr:ReadInstalledPluginsResponse">
        </part>
    </message>    
    <message name="ReadPluginInfoRequest">
        <part name="payload" element="mgr:ReadPluginInfoRequest">
        </part>
    </message>
    <message name="ReadPluginInfoResponse">
        <part name="payload" element="mgr:ReadPluginInfoResponse">
        </part>
    </message>
    <message name="ReadCanoniserInfoRequest">
        <part name="payload" element="mgr:ReadCanoniserInfoRequest">
        </part>
    </message>
    <message name="ReadCanoniserInfoResponse">
        <part name="payload" element="mgr:ReadCanoniserInfoResponse">
        </part>
    </message>
    <message name="ReadInitialNativeFormatRequest">
        <part name="payload" element="mgr:ReadInitialNativeFormatRequest">
        </part>
    </message>
    <message name="ReadInitialNativeFormatResponse">
        <part name="payload" element="mgr:ReadInitialNativeFormatResponse">
        </part>
    </message>
    <message name="ReadNativeMetaDataRequest">
        <part name="payload" element="mgr:ReadNativeMetaDataRequest">
        </part>
    </message>
    <message name="ReadNativeMetaDataResponse">
        <part name="payload" element="mgr:ReadNativeMetaDataResponse">
        </part>
    </message>
    <message name="ReadDeploymentPluginInfoRequest">
        <part name="payload" element="mgr:ReadDeploymentPluginInfoRequest">
        </part>
    </message>
    <message name="ReadDeploymentPluginInfoResponse">
        <part name="payload" element="mgr:ReadDeploymentPluginInfoResponse">
        </part>
    </message>
    <message name="DeployProcessRequest">
        <part name="payload" element="mgr:DeployProcessRequest">
        </part>
    </message>
    <message name="DeployProcessResponse">
        <part name="payload" element="mgr:DeployProcessResponse">
        </part>
    </message>

    <portType name="Manager">
        <operation name="ReadProcessSummaries">
            <input name="ReadProcessSummariesRequest" message="tns:ReadProcessSummariesRequest">
            </input>
            <output name="ReadProcessSummariesResponse" message="tns:ReadProcessSummariesResponse">
            </output>
        </operation>
        <operation name="ReadDomains">
            <input name="ReadDomainsRequest" message="tns:ReadDomainsRequest">
            </input>
            <output name="ReadDomainsResponse" message="tns:ReadDomainsResponse">
            </output>
        </operation>
        <operation name="ReadNativeTypes">
            <input name="ReadNativeTypesRequest" message="tns:ReadNativeTypesRequest">
            </input>
            <output name="ReadNativeTypesResponse" message="tns:ReadNativeTypesResponse">
            </output>
        </operation>
        <operation name="ReadAllUsers">
            <input name="ReadAllUsersRequest" message="tns:ReadAllUsersRequest">
            </input>
            <output name="ReadAllUsersResponse" message="tns:ReadAllUsersResponse">
            </output>
        </operation>
        <operation name="ReadUser">
            <input name="ReadUserRequest" message="tns:ReadUserRequest">
            </input>
            <output name="ReadUserResponse" message="tns:ReadUserResponse">
            </output>
        </operation>
        <operation name="WriteUser">
            <input name="WriteUserRequest" message="tns:WriteUserRequest">
            </input>
            <output name="WriteUserResponse" message="tns:WriteUserResponse">
            </output>
        </operation>
        <operation name="ImportProcess">
            <input name="ImportProcessRequest" message="tns:ImportProcessRequest">
            </input>
            <output name="ImportProcessResponse" message="tns:ImportProcessResponse">
            </output>
        </operation>
        <operation name="ExportFormat">
            <input name="ExportFormatRequest" message="tns:ExportFormatRequest">
            </input>
            <output name="ExportFormatResponse" message="tns:ExportFormatResponse">
            </output>
        </operation>
        <operation name="WriteEditSession">
            <input name="WriteEditSessionRequest" message="tns:WriteEditSessionRequest">
            </input>
            <output name="WriteEditSessionResponse" message="tns:WriteEditSessionResponse">
            </output>
        </operation>
        <operation name="WriteAnnotation">
            <input name="WriteAnnotationRequest" message="tns:WriteAnnotationRequest">
            </input>
            <output name="WriteAnnotationResponse" message="tns:WriteAnnotationResponse">
            </output>
        </operation>
        <operation name="ReadEditSession">
            <input name="ReadEditSessionRequest" message="tns:ReadEditSessionRequest">
            </input>
            <output name="ReadEditSessionResponse" message="tns:ReadEditSessionResponse">
            </output>
        </operation>
        <operation name="DeleteEditSession">
            <input name="DeleteEditSessionRequest" message="tns:DeleteEditSessionRequest">
            </input>
            <output name="DeleteEditSessionResponse" message="tns:DeleteEditSessionResponse">
            </output>
        </operation>
        <operation name="UpdateProcess">
            <input name="UpdateProcessRequest" message="tns:UpdateProcessRequest">
            </input>
            <output name="UpdateProcessResponse" message="tns:UpdateProcessResponse">
            </output>
        </operation>
        <operation name="DeleteProcessVersions">
            <input name="DeleteProcessVersionsRequest" message="tns:DeleteProcessVersionsRequest">
            </input>
            <output name="DeleteProcessVersionsResponse" message="tns:DeleteProcessVersionsResponse">
            </output>
        </operation>
        <operation name="EditProcessData">
            <input name="EditProcessDataRequest" message="tns:EditProcessDataRequest">
            </input>
            <output name="EditProcessDataResponse" message="tns:EditProcessDataResponse">
            </output>
        </operation>
        <operation name="SearchForSimilarProcesses">
            <input name="SearchForSimilarProcessesRequest" message="tns:SearchForSimilarProcessesRequest">
            </input>
            <output name="SearchForSimilarProcessesResponse" message="tns:SearchForSimilarProcessesResponse">
            </output>
        </operation>
        <operation name="MergeProcesses">
            <input name="MergeProcessesRequest" message="tns:MergeProcessesRequest">
            </input>
            <output name="MergeProcessesResponse" message="tns:MergeProcessesResponse">
            </output>
        </operation>
        <operation name="ReadInstalledPlugins">
            <input name="ReadInstalledPluginsRequest" message="tns:ReadInstalledPluginsRequest">
            </input>
            <output name="ReadInstalledPluginsResponse" message="tns:ReadInstalledPluginsResponse">
            </output>
        </operation>        
        <operation name="ReadPluginInfo">
            <input name="ReadPluginInfoRequest" message="tns:ReadPluginInfoRequest">
            </input>
            <output name="ReadPluginInfoResponse" message="tns:ReadPluginInfoResponse">
            </output>
        </operation>		
        <operation name="ReadCanoniserInfo">
            <input name="ReadCanoniserInfoRequest" message="tns:ReadCanoniserInfoRequest">
            </input>
            <output name="ReadCanoniserInfoResponse" message="tns:ReadCanoniserInfoResponse">
            </output>
        </operation>
        <operation name="ReadInitialNativeFormat">
            <input name="ReadInitialNativeFormatRequest" message="tns:ReadInitialNativeFormatRequest">
            </input>
            <output name="ReadInitialNativeFormatResponse" message="tns:ReadInitialNativeFormatResponse">
            </output>
        </operation>   
        <operation name="ReadNativeMetaData">
            <input name="ReadNativeMetaDataRequest" message="tns:ReadNativeMetaDataRequest">
            </input>
            <output name="ReadNativeMetaDataResponse" message="tns:ReadNativeMetaDataResponse">
            </output>
        </operation>
        <operation name="ReadDeploymentPluginInfo">
            <input name="ReadDeploymentPluginInfoRequest" message="tns:ReadDeploymentPluginInfoRequest">
            </input>
            <output name="ReadDeploymentPluginInfoResponse" message="tns:ReadDeploymentPluginInfoResponse">
            </output>
        </operation>
        <operation name="DeployProcess">
            <input name="DeployProcessRequest" message="tns:DeployProcessRequest">
            </input>
            <output name="DeployProcessResponse" message="tns:DeployProcessResponse">
            </output>
        </operation>
    </portType>    

    <binding name="ManagerSoap11" type="tns:Manager">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ReadProcessSummaries">
            <soap:operation style="document"/>
            <input name="ReadProcessSummariesRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadProcessSummariesResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="EditProcessData">
            <soap:operation style="document"/>
            <input name="EditProcessDataRequest">
                <soap:body use="literal"/>
            </input>
            <output name="EditProcessDataResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadDomains">
            <soap:operation style="document"/>
            <input name="ReadDomainsRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadDomainsResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadNativeTypes">
            <soap:operation style="document"/>
            <input name="ReadNativeTypesRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadNativeTypesResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadAllUsers">
            <soap:operation style="document"/>
            <input name="ReadAllUsersRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadAllUsersResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadUser">
            <soap:operation style="document"/>
            <input name="ReadUserRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadUserResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="WriteUser">
            <soap:operation style="document"/>
            <input name="WriteUserRequest">
                <soap:body use="literal"/>
            </input>
            <output name="WriteUserResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ImportProcess">
            <soap:operation style="document"/>
            <input name="ImportProcessRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ImportProcessResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ExportFormat">
            <soap:operation style="document"/>
            <input name="ExportFormatRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ExportFormatResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="WriteEditSession">
            <soap:operation style="document"/>
            <input name="WriteEditSessionRequest">
                <soap:body use="literal"/>
            </input>
            <output name="WriteEditSessionResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="WriteAnnotation">
            <soap:operation style="document"/>
            <input name="WriteAnnotationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="WriteAnnotationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadEditSession">
            <soap:operation style="document"/>
            <input name="ReadEditSessionRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadEditSessionResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteEditSession">
            <soap:operation style="document"/>
            <input name="DeleteEditSessionRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DeleteEditSessionResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateProcess">
            <soap:operation style="document"/>
            <input name="UpdateProcessRequest">
                <soap:body use="literal"/>
            </input>
            <output name="UpdateProcessResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteProcessVersions">
            <soap:operation style="document"/>
            <input name="DeleteProcessVersionsRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DeleteProcessVersionsResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchForSimilarProcesses">
            <soap:operation style="document"/>
            <input name="SearchForSimilarProcessesRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SearchForSimilarProcessesResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MergeProcesses">
            <soap:operation style="document"/>
            <input name="MergeProcessesRequest">
                <soap:body use="literal"/>
            </input>
            <output name="MergeProcessesResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadInstalledPlugins">
            <soap:operation style="document"/>
            <input name="ReadInstalledPluginsRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadInstalledPluginsResponse">
                <soap:body use="literal"/>
            </output>
        </operation>        
        <operation name="ReadPluginInfo">
            <soap:operation style="document"/>
            <input name="ReadPluginInfoRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadPluginInfoResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadCanoniserInfo">
            <soap:operation style="document"/>
            <input name="ReadCanoniserInfoRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadCanoniserInfoResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadInitialNativeFormat">
            <soap:operation style="document"/>
            <input name="ReadInitialNativeFormatRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadInitialNativeFormatResponse">
                <soap:body use="literal"/>
            </output>
        </operation>      
        <operation name="ReadNativeMetaData">
            <soap:operation style="document"/>
            <input name="ReadNativeMetaDataRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadNativeMetaDataResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReadDeploymentPluginInfo">
            <soap:operation style="document"/>
            <input name="ReadDeploymentPluginInfoRequest">
                <soap:body use="literal"/>
            </input>
            <output name="ReadDeploymentPluginInfoResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeployProcess">
            <soap:operation style="document"/>
            <input name="DeployProcessRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DeployProcessResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>   

    <service name="ManagerService">
        <port binding="tns:ManagerSoap11" name="ManagerSoap11">
            <soap:address location="http://localhost:9000/Apromore/services/manager"/>
        </port>
    </service>
</definitions>
