0.1/src/Apromore-canoniser/WebContent/wsdl/canoniser_manager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.apromore.org/canoniser/service_manager" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tnsx="http://www.apromore.org/canoniser/model_manager" xmlns:tns="http://www.apromore.org/canoniser/service_manager" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <import namespace="http://www.apromore.org/canoniser/model_manager" location="canoniser_managerX.xsd">
    </import>
  <message name="CanoniseProcessOutputMsg">
    <part name="payload" element="tnsx:CanoniseProcessOutputMsg">
    </part>
  </message>
  <message name="GenerateAnnotationOutputMsg">
    <part name="payload" element="tnsx:GenerateAnnotationOutputMsg">
    </part>
  </message>
  <message name="GenerateAnnotationInputMsg">
    <part name="payload" element="tnsx:GenerateAnnotationInputMsg">
    </part>
  </message>
  <message name="DeCanoniseProcessInputMsg">
    <part name="payload" element="tnsx:DeCanoniseProcessInputMsg">
    </part>
  </message>
  <message name="DeCanoniseProcessOutputMsg">
    <part name="payload" element="tnsx:DeCanoniseProcessOutputMsg">
    </part>
  </message>
  <message name="CanoniseVersionInputMsg">
    <part name="payload" element="tnsx:CanoniseVersionInputMsg">
    </part>
  </message>
  <message name="CanoniseProcessInputMsg">
    <part name="payload" element="tnsx:CanoniseProcessInputMsg">
    </part>
  </message>
  <message name="CanoniseVersionOutputMsg">
    <part name="payload" element="tnsx:CanoniseVersionOutputMsg">
    </part>
  </message>
  <portType name="CanoniserManagerPortType">
    <operation name="CanoniseProcess">
      <input name="CanoniseProcessRequest" message="tns:CanoniseProcessInputMsg">
    </input>
      <output name="CanoniseProcessResponse" message="tns:CanoniseProcessOutputMsg">
    </output>
    </operation>
    <operation name="CanoniseVersion">
      <input name="CanoniseVersionRequest" message="tns:CanoniseVersionInputMsg">
    </input>
      <output name="CanoniseVersionResponse" message="tns:CanoniseVersionOutputMsg">
    </output>
    </operation>
    <operation name="DeCanoniseProcess">
      <input name="DeCanoniseProcessRequest" message="tns:DeCanoniseProcessInputMsg">
    </input>
      <output name="DeCanoniseProcessResponse" message="tns:DeCanoniseProcessOutputMsg">
    </output>
    </operation>
    <operation name="GenerateAnnotation">
      <input name="GenerateAnnotationRequest" message="tns:GenerateAnnotationInputMsg">
    </input>
      <output name="GenerateAnnotationResponse" message="tns:GenerateAnnotationOutputMsg">
    </output>
    </operation>
  </portType>
  <binding name="CanoniserManagerBinding" type="tns:CanoniserManagerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CanoniseProcess">
      <soap:operation style="document"/>
      <input name="CanoniseProcessRequest">
        <soap:body use="literal"/>
      </input>
      <output name="CanoniseProcessResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CanoniseVersion">
      <soap:operation style="document"/>
      <input name="CanoniseVersionRequest">
        <soap:body use="literal"/>
      </input>
      <output name="CanoniseVersionResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeCanoniseProcess">
      <soap:operation style="document"/>
      <input name="DeCanoniseProcessRequest">
        <soap:body use="literal"/>
      </input>
      <output name="DeCanoniseProcessResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GenerateAnnotation">
      <soap:operation style="document"/>
      <input name="GenerateAnnotationRequest">
        <soap:body use="literal"/>
      </input>
      <output name="GenerateAnnotationResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CanoniserManagerService">
    <port name="CanoniserManager" binding="tns:CanoniserManagerBinding">
      <soap:address location="http://localhost:8080/Apromore-canoniser/services/CanoniserManager"/>
    </port>
  </service>
</definitions>
